<div class="container mx-auto mt-8 max-w-sm p-4 space-y-6">
  <h1 class="text-3xl font-bold">Welcome back!</h1>
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
    <%# <legend class="fieldset-legend">Welcome back!</legend> %>

    <%= form_with url: login_path do |form| %>

      <%# Email %>

      <%= form.label :email_address, class: "label" do %>
        <span class="label-text">Email</span>
      <% end %>
      <%= form.email_field :email_address,
        required: true,
        autofocus: true,
        autocomplete: "email",
        placeholder: "Enter your email address",
        value: params[:email_address],
        class: "input input-bordered w-full" %>

      <%# Password %>

      <%= form.label :password, class: "label mt-4" do %>
        <span class="label-text">Password</span>
      <% end %>
      <%= form.password_field :password,
        required: true,
        autocomplete: "current-password",
        placeholder: "Enter your password",
        maxlength: 72,
        class: "input input-bordered w-full" %>

      <div class="mt-4 flex items-center gap-1">
        <%= check_box_tag :remember_me, "1", false %>
        <%= label_tag :remember_me, "Remember me" %>
      </div>

      <%# Submit %>

      <%= form.submit "Log in", class: "btn btn-neutral mt-4 w-full" %>

    <% end %>

    <div class="mt-4 text-center">
      <%= link_to "Forgot your password?", new_password_path, class: "link link-hover text-sm" %>
    </div>
  </fieldset>
</div>
