<div id="<%= dom_id product_color %>">

  <div class="h-60 rounded-2xl" style="background-color: #<%= product_color.hex_color %>;"></div>

  <p class="mt-2 text-lg font-bold">
    <%= product_color.name %>
  </p>

  <p class="font-medium">
    <%= product_color.brand.name %> <%= product_color.vendor_code %>
  </p>

  <p class="text-sm text-gray-600">
    <%= product_color.brand.category.titleize %>
  </p>

</div>
