<%= search_form_for @q, url: color_chart_path(category: @category, brand_slug: @brand.slug), method: :get, html: { class: "flex items-center w-66" } do |f| %>
  <div class="search-input-container w-full" data-card-text>
    <span class="shrink-0">
      <%= icon(:search_outline, css_class: "size-6") %>
    </span>

    <div class="relative flex-1">
      <%= f.search_field :vendor_code_cont,
          placeholder: "Search by code...",
          class: "search-input w-full" %>

      <% if params.dig(:q, :vendor_code_cont).present? %>
        <%= link_to color_chart_path(category: @category, brand_slug: @brand.slug),
            class: "absolute right-0 top-1/2 -translate-y-1/2 text-current opacity-80 hover:opacity-100 transition-opacity" do %>
          <%= icon(:x_mark_outline, css_class: "size-6") %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
