<% content_for :title, "#{@brand.name} Color Library" %>

<div class="mx-auto w-full space-y-4" data-controller="scroll-spy"
data-scroll-spy-active-classes-value="bg-base-content text-base-100 hover:bg-base-content/20 hover:text-base-content"
data-scroll-spy-inactive-classes-value="bg-base-200 text-base-content/70 hover:bg-base-content/20 hover:text-base-content">
  <%= render "shared/color_header", brand: @brand, category: @category, color_count: @brand.product_colors_count, stash_count: @stash_by_brand_count %>

  <%= render "shared/color_chart_nav", colors_by_family: @colors_by_family %>

  <div class="space-y-2">
    <% @colors_by_family.each do |family, colors| %>
      <section id="<%= family.parameterize %>"
     class="scroll-mt-10 space-y-2" data-scroll-spy-target="section">
        <%= render "shared/color_divider", family_name: family %>
        <%= render "shared/color_grid", product_colors: colors %>
      </section>
    <% end %>
  </div>

</div>
