<div class="mx-auto mt-8 max-w-sm space-y-6">
  <h1 class="text-3xl font-bold">Join now!</h1>
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
    <%= form_with model: @user, class: "space-y-4" do |form| %>

      <% if @user.errors.any? %>
        <% @user.errors.each do |error| %>
          <p><%= error.full_message %></p>
        <% end %>
      <% end %>

      <%# First name %>

      <div>
        <%= form.label :first_name, class: "label" do %>
          <span class="label-text">First name</span>
        <% end %>
        <%= form.text_field :first_name,
            required: true,
            autofocus: true,
            placeholder: "Enter your first name",
            class: "input input-bordered w-full" %>
      </div>

      <%# Last name %>

      <div>
        <%= form.label :last_name, class: "label" do %>
          <span class="label-text">Last name</span>
        <% end %>
        <%= form.text_field :last_name,
            required: true,
            placeholder: "Enter your last name",
            class: "input input-bordered w-full" %>
      </div>

      <%# Username %>

      <div>
        <%= form.label :username, class: "label" do %>
          <span class="label-text">Username</span>
        <% end %>
        <%= form.text_field :username,
            required: true,
            placeholder: "Enter your username",
            class: "input input-bordered w-full" %>
      </div>

      <%# Email %>

      <div>
        <%= form.label :email_address, class: "label" do %>
          <span class="label-text">Email</span>
        <% end %>
        <%= form.email_field :email_address,
            required: true,
            autocomplete: "email",
            placeholder: "Enter your email address",
            class: "input input-bordered w-full" %>
      </div>

      <%# Password %>

      <div>
        <%= form.label :password, class: "label" do %>
          <span class="label-text">Password</span>
        <% end %>
        <%= form.password_field :password,
          required: true,
          placeholder: "Enter your password",
          maxlength: 72,
          class: "input input-bordered w-full" %>
      </div>

      <%# Password confirmation %>

      <div>
        <%= form.label :password_confirmation, class: "label" do %>
          <span class="label-text">Password confirmation</span>
        <% end %>
        <%= form.password_field :password_confirmation,
          required: true,
          placeholder: "Re-enter your password",
          maxlength: 72,
          class: "input input-bordered w-full" %>
      </div>

      <%# Submit %>

      <div><%= form.submit "Create account", class: "btn btn-neutral w-full" %></div>

    <% end %>
  </fieldset>

</div>
