
  <header class="grid grid-cols-1 gap-10 md:grid-cols-[2fr_3fr] xl:grid-cols-[1.75fr_3fr_2fr] xl:gap-x-14 xl:gap-y-8">
    <div class="space-y-3 border-t-4 border-base-content pt-3">
      <%# Brand %>
      <h1 class="text-3xl lg:text-4xl font-bold text-base-content text-balance"><%= brand.name %></h1>
      <%# Stats row %>
      <div class="flex flex-wrap items-center gap-3 sm:gap-4 sm:gap-y-2 text-sm text-base-content">
        <span class="flex items-center gap-1 sm:gap-1.5">
          <%= icon (:grid_outline) %>
          <span><%= color_count %> colors</span>
        </span>
        <% if stash_count && stash_count > 0 %>
          <span class="flex items-center gap-1 sm:gap-1.5">
            <%= icon (:heart_solid) %>
            <span><%= stash_count %> in your stash</span>
          </span>
        <% end %>
      </div>
    </div>

    <%# Subheading and description %>
    <div class="space-y-3 xl:space-y-5 text-base-content">
      <div class="flex items-center gap-4">
        <%= render "shared/avatar" %>
        <p class="text-lg font-black "><%= brand.subheading %></p>
      </div>
      <p class="md:text-pretty"><%= brand.description %></p>
    </div>

    <%# Fabric picker %>
    <div class="xl:justify-self-end">
      <%= render "fabric_picker/picker" %>
    </div>

  </header>
