<header class="@container/header">
  <div class="grid grid-cols-1 gap-10 @2xl/header:grid-cols-[2fr_3fr] @5xl/header:grid-cols-[1.75fr_3fr_2fr] @5xl/header:gap-x-14 @5xl/header:gap-y-8">
    <div class="space-y-3">
      <%# Brand %>
      <div class="h-1 flex-1 bg-base-content/20 transition-colors duration-300" data-card-line></div>
      <h1 class="text-3xl @3xl/header:text-4xl font-bold text-base-content text-balance" data-card-text><%= brand.name %></h1>
      <%# Stats row %>
      <div class="flex flex-wrap items-center gap-3 @xs/header:gap-4 @xs/header:gap-y-2 text-sm text-base-content" data-card-text>
        <span class="flex items-center gap-1 @xs/header:gap-1.5">
          <%= icon (:grid_outline) %>
          <span><%= color_count %> colors</span>
        </span>
        <% if stash_count && stash_count > 0 %>
          <span class="flex items-center gap-1 @xs/header:gap-1.5">
            <%= icon (:heart_solid) %>
            <span><%= stash_count %> in your stash</span>
          </span>
        <% end %>
      </div>
    </div>

    <%# Subheading and description %>
    <div class="space-y-5 text-base-content" data-card-text>
      <div class="flex items-center gap-4">
        <%= render "shared/avatar", public_id: "avatar1_hmskyt" %>
        <p class="text-lg font-black text-balance"><%= brand.subheading %></p>
      </div>
      <p><%= brand.description %></p>
    </div>

    <%# Fabric picker %>
    <div class="mt-4 @5xl/header:mt-0 @5xl/header:justify-self-end">
      <%= render "fabric_picker/picker" %>
    </div>
    <%= render "color_charts/search" %>


  </div>
</header>
