<div class="dock dock-lg">

  <%= link_to dashboard_path, class: class_names("dock-active": current_page?(dashboard_path)) do %>
    <%= icon(:home) %>
    <span class="dock-label">Home</span>
  <% end %>

  <%= link_to stash_items_path, class: class_names("dock-active": controller_name == "stash_items") do %>
    <%= icon(:stash) %>
    <span class="dock-label">Stash</span>
  <% end %>

  <%= link_to root_path, class: class_names("dock-active": current_page?(root_path)) do %>
    <%= icon(:create) %>
    <span class="dock-label">Create</span>
  <% end %>

  <%= link_to root_path, class: class_names("dock-active": current_page?(root_path)) do %>
    <%= icon(:palette) %>
    <span class="dock-label">Palettes</span>
  <% end %>

</div>
