<aside class="menu bg-base-100 min-h-full w-72 p-4">
  <%# Logo %>
  <div class="mb-6 pb-4 border-b border-base-300">
    <%= link_to root_path, class: "flex items-center gap-3" do %>
      <%= render "shared/logo_isotype" %>
      <span class="font-semibold text-lg">Color Confident Studio</span>
    <% end %>
  </div>

  <%# Menu options %>

    <ul class="menu menu-lg">
      <li>
        <%= link_to "Browse color charts", color_charts_path, class: "sidebar-item justify-start"%>
      </li>
      <li>
        <%= link_to "Sign up", signup_path, class: "sidebar-item justify-start"%>
      </li>
      <li>
        <%= link_to "Log in", login_path, class: "sidebar-item justify-start" %>
      </li>
    </ul>

</aside>
