<li class="flex flex-col items-start gap-1">
  <div class="flex items-center gap-2">
    <%= icon(icon_name, class: "size-4") %>
    <p class="text-lg font-bold">
      <%= total_count %>
      <% if local_assigns[:stat_label_singular] && local_assigns[:stat_label_plural] %>
        <%= total_count == 1 ? stat_label_singular : stat_label_plural %>
      <% else %>
        <%= stat_label %>
      <% end %>
    </p>
  </div>
  <ul class="flex @3xl/header:flex-col gap-x-4 gap-y-1 pl-6">
    <% counts_by_category.each do |category, count| %>
      <li><span class="font-bold"><%= count %></span> <%= category.capitalize %></li>
    <% end %>
  </ul>
</li>
